/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:wght@300;500&display=swap');

/* --- Variables --- */
@import './variables';

/* --- components styles --- */
@import '../pages/Login/login';
@import '../pages/Chat/chat';

/* --- general styles --- */
body {
  color: $color-fnt;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: $color;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}